table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-size: 13px;
  font-weight: normal;
  background: #cccccc;
  border-top: 4px solid #b3b3b3;
  border-bottom: 1px solid #fff;
  color: #039;
  padding: 8px;
}
td {
  background: #e6e6e6;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  padding: 8px;
}
tr:hover td {background: #ffffff;}